In [1]:
import pandas as pd

/Users/briannagreen/.pyenv/versions/3.9.5/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
!ls

2017 NEISS Data Highlights.pdf        Untitled.ipynb
2018-NEISS-CPSC-only-CodingManual.pdf neiss2017.tsv
2018ComparabilityTable.pdf            neiss_fmt.txt
Intro to cleaning data.ipynb          race.csv

In [3]:
df = pd.read_csv("neiss2017.tsv", sep="\t", encoding="latin-1")
df.head()

/Users/briannagreen/.pyenv/versions/3.9.5/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Other_Race,Body_Part,Diagnosis,Other_Diagnosis,Disposition,Location,Fire_Involvement,Product_1,Product_2,Narrative_1,Narrative_2,Stratum,PSU,Weight
0,170100733,01/01/2017,21,1,1.0,NaN,75.0,62.0,NaN,1.0,1.0,0.0,1207.0,0.0,21YOM WAS BOXING WITH FRIEND WHILE DRINKING AN...,. BAC= 93.6 DX HEAD INJURY AND ALCOHOL INTOXIC...,S,46.0,77.6641
1,170100734,01/01/2017,71,1,1.0,NaN,31.0,53.0,NaN,1.0,5.0,0.0,1807.0,0.0,71YOM FELL ON FLOOR IN BATHROOM. DX RIB CONTUSION,NaN,S,46.0,77.6641
2,170100735,01/01/2017,16,1,1.0,NaN,33.0,51.0,NaN,1.0,1.0,0.0,676.0,342.0,16YOM TRIPPED OVER A RUG AND FELL INTO A BURNI...,DX BURNS INVOLVING LESS THAN 10% OF BODY SURFA...,S,46.0,77.6641
3,170100737,01/01/2017,55,2,1.0,NaN,75.0,62.0,NaN,1.0,1.0,0.0,620.0,0.0,55YOF WAS STANDING ON A STEP STOOL AND LOST FO...,HEAD INJURY,S,46.0,77.6641
4,170100740,01/01/2017,86,2,1.0,NaN,79.0,58.0,NaN,1.0,1.0,0.0,1646.0,4056.0,86YOF GOT TANGLED IN COAT AND FELL BACKWARD ST...,"H. DX HEMATOMA OF SOFT TISSUE, LEFT FLANK",S,46.0,77.6641

In [4]:
!head -n 5 neiss2017.tsv

In [5]:
pd.__version__

'1.2.4'

In [6]:
df.dtypes

CPSC_Case_Number     object
Treatment_Date       object
Age                  object
Sex                   int64
Race                float64
Other_Race           object
Body_Part           float64
Diagnosis           float64
Other_Diagnosis      object
Disposition         float64
Location            float64
Fire_Involvement    float64
Product_1           float64
Product_2           float64
Narrative_1          object
Narrative_2          object
Stratum              object
PSU                 float64
Weight              float64
dtype: object

In [7]:
#df.Age.median()
df[df.Age == 'C']

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Other_Race,Body_Part,Diagnosis,Other_Diagnosis,Disposition,Location,Fire_Involvement,Product_1,Product_2,Narrative_1,Narrative_2,Stratum,PSU,Weight
160878,;CONCUSSION,NaN,C,8,4.757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df[df.Treatment_Date == "Nan"]

Empty DataFrame
Columns: [CPSC_Case_Number, Treatment_Date, Age, Sex, Race, Other_Race, Body_Part, Diagnosis, Other_Diagnosis, Disposition, Location, Fire_Involvement, Product_1, Product_2, Narrative_1, Narrative_2, Stratum, PSU, Weight]
Index: []

In [9]:
df.shape

(386907, 19)

In [10]:
df.dropna().shape

(2992, 19)

In [11]:
# Permanently change dataframe to get rid of every row where treatment_date is missing
df = df.dropna(subset=['Treatment_Date'])
df.head(2)

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Other_Race,Body_Part,Diagnosis,Other_Diagnosis,Disposition,Location,Fire_Involvement,Product_1,Product_2,Narrative_1,Narrative_2,Stratum,PSU,Weight
0,170100733,01/01/2017,21,1,1.0,NaN,75.0,62.0,NaN,1.0,1.0,0.0,1207.0,0.0,21YOM WAS BOXING WITH FRIEND WHILE DRINKING AN...,. BAC= 93.6 DX HEAD INJURY AND ALCOHOL INTOXIC...,S,46.0,77.6641
1,170100734,01/01/2017,71,1,1.0,NaN,31.0,53.0,NaN,1.0,5.0,0.0,1807.0,0.0,71YOM FELL ON FLOOR IN BATHROOM. DX RIB CONTUSION,NaN,S,46.0,77.6641

In [12]:
# do we still have bad age row?
df[df.Age == 'C']

Empty DataFrame
Columns: [CPSC_Case_Number, Treatment_Date, Age, Sex, Race, Other_Race, Body_Part, Diagnosis, Other_Diagnosis, Disposition, Location, Fire_Involvement, Product_1, Product_2, Narrative_1, Narrative_2, Stratum, PSU, Weight]
Index: []

In [13]:
df.Age.median()

29.0

In [14]:
df.Age.mean()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#convert all data in Age column to integer
df.Age = df.Age.astype(int)

In [ ]:
df.dtypes

In [ ]:
df.Age.mean()

In [ ]:
df.Age.describe()

In [ ]:
df[df.Age > 200]

In [ ]:
df.Age.hist()

In [ ]:
#removing everyone who has coded Age of > 200
df[df.Age < 200]
df.head()

In [ ]:
df.Sex.describe()

In [ ]:
# Sex:
# Male: 1
# Female: 2
# Not recorded: 0
df.groupby('Sex').Age.median()

In [ ]:
# If you want to replace one thing
df.Sex.replace(1, 'M')

In [ ]:
# If you want to replace many things
import numpy as np

df.Sex = df.Sex.replace({
    1: 'M',
    2: 'F',
    3: np.nan
})

In [ ]:
df.head()

In [ ]:
#NaN's got dropped because 0 was converted to NaN
df.groupby('Sex').Age.median()

In [ ]:
df.groupby('Sex', dropna=False).Age.median()

In [ ]:
df.Race

In [ ]:
df.Race.value_counts()

In [ ]:
!cat race.csv

In [ ]:
# replace numbers with race, by combining datasets
df_race = pd.read_csv("race.csv")
df_race

In [ ]:
df_race = pd.read_csv("race.csv", sep="\t")
df_race

In [ ]:
df.head(2)

In [ ]:
# Add all columns from df_race to df
# matched based on Race and code
df.merge(df_race, left_on='Race', right_on="code")

In [ ]:
#add prefix to merged data
df = df.merge(df_race.add_prefix("race_"), left_on='Race', right_on='race_code')

In [ ]:
df.head()

In [ ]:
#don't need race column anymore
df = df.drop(columns=['Race'])

In [ ]:
df.head()

In [ ]:
df[['Age', 'Sex']]

In [ ]:
df = df.drop(columns=['race_key', 'race_code'])
df.head()

In [ ]:
#rename race column
df = df.rename(columns={
    'race_value': 'Race'
})
df.head()

In [ ]:
df.Race.value_counts()

In [ ]:
#replace N.S. in Race with NaN
df.Race = df.Race.replace("N.S.", np.nan)
df.head(2)

In [ ]:
df.Narrative_1.str.contains("ALCOHOL", case=False).value_counts()

In [ ]:
df[
    df.Narrative_1.str.contains("ALCOHOL", case=False) | 
    df.Narrative_1.str.contains("DRINK", case=False)
]

In [ ]:
#show all columns
pd.set_option("display.max_columns", 100)
#show longer text
pd.set_option("display.max_colwidth", 250)

In [ ]:
df.head()

In [ ]:
df.Other_Race.value_counts()

In [ ]:
df[df.Other_Race.str.contains("HISP")]

In [ ]:
# fix error
df[df.Other_Race.str.contains("HISP", na=False)]

In [ ]:
df[df.Other_Race.str.contains("HISP", na=False)].Other_Race.value_counts()

In [ ]:
#conditional update of a field
# I want to update "other race" to be "hispanic"
# if "other race" starts with "hisp" and ends with anything else
# ^ means 'beginning of string'
# .* means 'any other text'
df.Other_Race.str.replace("^HISP.*", 'HISPANIC', regex=True)

In [ ]:
# conditional update of a field
# the first part of .loc is what you want to be true
# the second part of .loc is the column you want to update

df.loc[
    df.Other_Race.str.contains("^HISP", na=False),
    "Other Race"
] = "HISPANIC"